#home { 
  /*background: url("../images/facebook.png")  0 no-repeat; */

  height: 768px;
  margin: 0; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  text-align: center;
  min-height: 208px;

}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
 
#about { 
  background: url("../images/moon.jpg")  0 no-repeat; min-height: 1000px; 
  height: 768px;
  margin: 0;  
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-attachment: fixed;

}
 
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}

#next { 
  /*background: url("../images/yay.jpg")  0 no-repeat; min-height: 1000px; */
  height: 768px; 
  margin: 0 ; 
  width: 100%; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#next article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
}
#bodyy{ 
	background-image: url("../images/tulips.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
    font-size: 50px;
    color: black;


}
#toop{
	font-family: 'Oswald', sans-serif;
	font-size:30px;
	margin: 5%;
	color: black;
}
#uno{
	background-image: url("../images/p.png");
}
#contact{
	background-color: black;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	color: white;
	padding-top: 60px;
	opacity: 0.9;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#okay{
	display: inline-block;

}
#new{
	padding-top: 250px;
	font-size: 100px;
	color: white;
	wiidth:500px;
}
/*#body1{
	background-image: url("../images/holes.png");
	background-size: 1366px 768px;
	background-repeat: no-repeat;*/
}
/*#title{
	text-align: center;
	color:white;
	font-size: 50px;
	margin: 25%;
}*/
#second1{
	text-align: center;
	color: black;
	font-size: 20px;
}
#fame{
	text-align: inline-block;
	color: black;
}
#box{
	background-color: black;
	opacity: 0.8;
	width: 80px;
	height: 40px;

}
#first{
	padding: 70px ;
	color: black;
	font-size: 20px;
	opacity: 0.8;
}
#carousel-example-generic{
	width:385px;
	margin:3% 36%;
}
#ay{
	background-image: url("../images/sun.jpg");
	background-repeat: no-repeat;
	height: 100%;
	margin: 0 auto;
}
#aboutme{
	color: white;
	font-size: 20px;
	opacity: 0.7;
	margin: 0 auto;
	width: 500px;
	background-color: black;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}
.link1{
	margin-left: 20%;
	text-decoration: none;
	color: white;
}
.link{
	margin-left: 21%;
	text-decoration: none;
	color: white;

}
.link2{
	margin-left: 20%;
	text-decoration: none;
	color: black;
}
#boot{
	background-color: black;
}
#dine{
	color: white;
	text-align: center;
	font-size: 50px
}
.link3{
	margin-left: 21%;
	text-decoration: none;
	color: blue;
}
#love{
	font-family: 'Lobster', cursive;
}
#lovee{
	font-family: 'Lobster', cursive;
	
}
@media screen and (max-width:320px){
	#aboutme{
		width:100%;
	}

}
@media screen and (max-width:320px){
	#aboutme{
	width:320px;
	}

}



