#bodyy{ 
	background-image: url("../images/sun.jpg");
	background-size: 1366px 768px;
    background-repeat: no-repeat;
}
#uno{
	background-image: url("../images/p.png");
}
#contact{
	background-color: black;
	width: 700px;
	height: 500px;
	margin: 0 auto;
	color: white;
	padding-top: 60px;
	opacity: 0.9;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
#okay{
	display: inline-block;

}
#body1{
	background-image: url("../images/holes.png");
	background-size: 1366px 768px;
	background-repeat: no-repeat;
}
#title{
	text-align: center;
	color:white;
	font-size: 30px;
}
#second1{
	text-align: center;
	color: black;
	font-size: 20px;
}
#fame{
	text-align: inline-block;
	color: black;
}
#box{
	background-color: black;
	opacity: 0.8;
	width: 80px;
	height: 40px;

}
#first{
	padding: 70px ;
	color: black;
	font-size: 20px;
	opacity: 0.8;
}
.aboutme{
	color: white;
	font-size: 20px;
	opacity: 0.7;
	margin: 0 auto;
	width: 500px;
	background-color: black;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}
.link1{
	margin-left: 20%;
	text-decoration: none;
	color: white;
}
.link{
	margin-left: 21%;
	text-decoration: none;
	color: white;
}
.link2{
	margin-left: 20%;
	text-decoration: none;
	color: black;
}
#boot{
	background-color: black;
}
#dine{
	color: white;
	text-align: center;
	font-size: 50px
}
.link3{
	margin-left: 21%;
	text-decoration: none;
	color: blue;
}
#love{
	font-family: 'Lobster', cursive;
}
#lovee{
	font-family: 'Lobster', cursive;
	
}
#poetry{
	height: 500px;
	width: 500px;
	background-color: white;
	opacity: 0.7;
	margin-left: 32%;
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}
@media screen and (max-width:959px){
	
}
